.menuItem {
    width: 100%;
    height: 5%;
    min-height: 4%;
    background-color: pink;
    border: 5px outset lightblue;
    margin: 10px 0px;
    text-align: center;
}

.link {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    color: teal;
}
