$primColor:lightgray;

#menu {
    background-color: $primColor;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    border-right: 1px solid black;
}

#menuTitle {
    display: block;
    font-size: 2em;
    font-weight: 800;
    font-variant: small-caps;
    border-bottom: 3px solid black;
    width: 100%;
    text-align: center;
}
