$primColor:#00b3b3;

#header {
    background-color: $primColor;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    position: relative;
}

%text {
    font-size: 3em;
    font-weight: 700;
    font-variant: small-caps;
    color: whitesmoke;
}

#title {
    @extend %text;
    position: absolute;
    bottom: 8%;
    margin-left: 5px;
    text-decoration: none;
}

#welcome {
    @extend %text;
    text-align: center;
}

.auth {
    position: absolute;
    right: 5%;
    bottom: 10%;
    text-decoration: none;
    color: pink;
    font-size: 2em;
    &:active {
        color: black;
    }
    &:hover {
        text-decoration: underline;
    }
}
